<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="hospial" parallel="tests" thread-count="2" >
 <test name="Patient health details">
  <classes>
    <class name="framework.Test1">
    <methods>
    <include name="RespirationRate"/>
    </methods>
    </class>
  
  </classes>
 </test> 
 
 <test name="patient details">
 <classes>
    <class name="framework.Test2">
      <methods>
        <include name="Patient.*"/>
       </methods> 
       </class>
 </classes>
 </test>
 <test name="loans">
 <classes>
 <class name="framework.Test3"/>
 </classes>
 </test>
 </suite>
